// App Theme Colors
$black-color: #000;
$blank-color: #35363a;
$gray-color: rgb(213, 213, 213);
$white-color: white;
$primary-color: #F94A29;

// Toast Messages Color
$add-color: #b6f8c4;
$delete-missed-color: #ffb7b7;
$delete-finished-color: #FEFF86;
$delete-pending-color: #B9EDDD;
$finished-color: #91D8E4;
$marked-color: #D9ACF5;

$finished-line-color: #ADE792;
$missed-line-color: #EB4A5F;